%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info,
            fail_on_warning,
            {src_dirs, ["src", "migrate"]}
           ]}.
{deps_dir, ["deps"]}.

{deps, [
        {mysql, ".*", {git, "https://github.com/dizzyd/erlang-mysql-driver.git", {tag, "HEAD"}}},
        {slg_support, ".*", {git, "https://github.com/zhuoyikang/slg-support.git", {tag, "HEAD"}}}
       ]
}.

%% 检查我们单元测试的覆盖率
{cover_enabled, true}.
